# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment variables
.env

# VSCode / IDE
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Playwright / Scraping
playwright/.cache/
screenshots/

# Docker
*.log
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
